 $transition1: all 180ms ease-in-out;

a.cart_icon.nav-link  {
    margin-left: auto;
    img{
        width: 26px;
    } 
}
.d-block{
    display: block;
}
div.cart_icon {
    margin-left: auto;
    height: 50px;
    margin-right: 2px;
    position: relative;
 
    img{
        width: 20px;
        cursor: pointer;
    }
    .box {
 
     
            background: #fff;
            height: 400px;
            width: 300px;
            border: 1px solid #eee;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 4px;
            position: absolute;
            top: 100%;
            transform: translate(-50%, 10px);
             overflow: auto;
            height: 358px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     
         &.box:before {
            content: '';
            background: #fff;
            height: 20px;
            width: 20px;
            top: -10px;
            left: 50%;
            position: absolute;
            transform: rotate(45deg);
            z-index: 0;
            border-radius: 6px;
        }
    }
    .box_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        /* padding: 10px 3px; */
        border-bottom: 1px solid #ddd;
        padding-bottom: 0px;
        position: sticky;
        top: 0px;
        margin-bottom: 10px;
        border: 0px;
        background: #fff;
        height: 30px;
    padding: 3px;

        p{
            margin: 0px;
        }
        button.close {
            border: 1px solid #eee;
            background: none;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            text-align: center;
            color: gray;
            border: 0px;
            font-size: 20px;
         }
    }
 }
a.navbar-brand {
    width: 94px;
    height: 100px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.nav.nav.navbar.navbar-expand.navbar-light.fixed-top{
 background:    #fbfbff !important
}


// carousel
.carousel-indicators [data-bs-target] {
 
     color: var(--secondryColor) !important;
 
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: #000;
    padding: 18px;
}
 .carousel_images {
    height: 456px;
    background-position: center top;
    .carousel-caption {
        color: var(--secondryColor);
        margin-left: auto;
        text-align: left;
       bottom: 188px;
        font-family: auto;
        border-bottom: 1px solid;
        text-shadow: 0 0 black;
        h3{
            font-size: 52px;
            font-weight: 700;
            text-transform: uppercase;
        }
        p{
            font-size: 30px;
            color: #3339;
            font-weight: 200;
        }
    }
}

@media(max-width:768px){
    .carousel_images 
    {
    .carousel-caption {
        color: var(--secondryColor);
        margin-left: auto;
        text-align: left;
        bottom: 188px;
        font-family: auto;
        border-bottom: 1px solid;
        text-shadow: 0 0 black;
        top: 123px;
        h3 {
            font-size: 20px ;
           
        }
        p{
            font-size: 20px;
        }
    }
}
}
// carousel
.link {
    color: rgba(var(--secondryColor),0.35);
    &:hover {
        color: var(--secondryColor);
        &:after {
            width: calc(100% - 20px); // Left and right padding of parent element
        }
    }
}

.link {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--secondryColor);
    text-decoration: none;
    padding: 15px 10px;
    margin: 0;
    transition: all 180ms ease-in-out;
    position: relative;

             font-size: revert !important;


&:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background: var(--secondryColor);
    bottom: 0.65rem;
    left: 10px; // Left padding of parent element
    transition: $transition1;
}
}
 
div.t_totla {
    margin: 0px;
    background: var(--primaryColor);
    position: sticky;
    top: 27px;
    font-size: 13px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
::-webkit-scrollbar-track {
    background: #f1f1f1 !important; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888 !important; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important; 
  }
  @media(max-width:768px){
    .box{
        position: fixed   !important;
        top: 112px  !important;
        left: 48%;
        right: 50%;
     }
  }

  @media(max-width:768px){
    div.cart_icon {
 
        margin-left: unset;
        margin: a;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .carousel_images {
        height: 307px;
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
    }   
  }.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}