p.link {
    font-size: 14px;
}
.p_t{
  top: 59px !important;
     z-index: 2;
    width: 100%;
    height: 48px;
    padding: 0px 10px;
    position: sticky;
}
 
  .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    font-size: 14px;
    text-align: center;
    height: 20px;
    p{
      margin: 0px;
    }
}
.collection_preview_background {
  height: 500px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: initial;
  background-position: left;
  background-clip: inherit;
  background-attachment: fixed;
  
}
.all_container .new_item {
  background: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.6s all ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
   margin: 0px 1px;
 
  .new_item_image{
    border-radius: 0px;
    border:1px solid #ddd;
  }
}
.collection_text_preview {
    font-size: 42px;
    margin: auto;
    width: 100%;
    height: 300px;
    color: #5e5555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: #33333317; */
    text-shadow: 0 0 black;
    font-family: fantasy;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 35px;
    font-weight: 200;
    font-family: auto;
    color: #333;
    text-shadow: 0 0 black;
    h3{
      font-size:40px
    }
}
.collection_text_preview h3 {
      font-size: 37px;
      color: #333 !important;
      border-bottom: 1px solid;
      text-align: left;
      margin-right: auto;
      justify-content: left;
      width: fit-content;
      font-weight: 200 !IMPORTANT;
      font-family: sans-serif;
  p{
  
    font-family: system-ui;
    white-space: nowrap;
    font-size: 18px;
    font-weight: lighter;
  }
}
@media(max-width:768px){
  .collection_text_preview {
    font-size: 20px;}
    .collection_preview_background {
      height: 300px;
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      background-position: initial;
      background-position: left;
      background-clip: inherit;
      background-attachment: fixed;
  
      background-position: center center;
  }
  .collection_text_preview h3 {
    font-size: 21px;
     display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-around;
    color: #333 !important;
    flex-direction: column;
     margin-right: auto;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}
}

.item {
    height: 400px;
    background-position: center top;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.name_add_to_cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    
    p{
        color: #333;
    font-weight: 700;
    font-family: auto;
    text-transform: uppercase;
    margin-top: 20px;
    border-bottom: 1px solid;
    margin-bottom: 0px;
    }
    button.cart_button_new {
      display: flex;
      width: 118px;
      margin-left: 9px;
      height: 32px;
      border-radius: 2px;
      font-size: 14px;
      padding: 10px;
      align-items: center;
      transition: 0.6s all ease-in-out;
      color: #333;
      white-space: nowrap;
      margin-top: auto;
      text-align: center;
      justify-content: center;
      width: fit-content;
      border: 0px;
      background: none;
        &:hover{
            opacity: 0.8;
         }
        p{
            margin-bottom: 0px;
        }
    }   
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    font-size: 14px;
    text-align: center;
    height: 20px;
    margin: 18px;
    margin-left: auto;
    white-space: nowrap;
    width: fit-content;
    padding: 10px;
    height: fit-content;
    font-size: 17px;
    cursor: pointer;
    i{
        margin-left: 10px;
        font-size: 15px;
    }
}