.cartItem {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: #fff;
    margin-top: 2px;
    height: fit-content;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 78px;
    overflow: hidden;
    img {
        width: 100px !IMPORTANT;
        height: 97px;
        margin: 10px;
    }
    .name_price {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
    }
    .qu {
        margin-left: auto;
        width: 30px;
        font-size: 10px;
        text-align: left;
    } 
}
.rfc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    button {
        background: none;
        border: 0px;
        font-size: 11px;
        margin-right: 12px;
        text-transform: uppercase;
        &:hover{
            color:rgba(51, 51, 51, 0.801)
        }
    }
}